<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          rel="stylesheet">
    <style>
        body{
            @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
            color: lightgoldenrodyellow;
            background-color: #191919;
        }
    </style>

</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-light" style="background-color: #193148;">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false"
                    class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse"
                    type="button">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="color: #fdfead">DSi || Hostel Management System || </a>
                <a class="btn btn-outline-success me-2 nav-link active" href="#" th:href="@{/}" style="text-align: right"> Home</a>
            </div>
        </div>
    </div>
</nav>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br><br>
            <h1>Login Page </h1>
            <form method="post" th:action="@{/login}">

                <!-- error message -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or
                        password.
                    </div>
                </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div>

                <div class="form-group">
                    <label for="username"> User Email </label> :
                    <input autofocus="autofocus" class="form-control" id="username" name="username"
                           placeholder="Enter Email ID" type="text" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>: <input class="form-control"
                                                                   id="password" name="password" placeholder="Enter Password"
                                                                   type="password" required/>
                </div>
                <div class="form-group">
                    <label for="remember-me">Remember me?</label> <input type="checkbox" class=""
                                                                   id="remember-me" name="remember-me"/>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input class="form-control btn btn-outline-success" id="login-submit" name="login-submit"
                                   type="submit" value="Log In"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
						<span>New user? <a href="/" th:href="@{/registration}">Register
								here</a></span>
            </div>
            <br>
        </div>
    </div>
</div>
</body>
</html>